body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

input {
    padding: 10px 0px;
    border: none;
    width: 100%;
    background-color: #e0e0e0;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: solid 1px #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.true {
    color: rgb(39, 182, 82)
}
.false {
    color: red;
}